<div class="burger-banner" style="background-image:  url(<%= asset_path 'burgers-banner.png' %>)">
  <div class="banner-content">
    <h1>GeoBurger</h1>
    <p>Descubra hambúrgeres saborosos perto de você</p>
    <a href="#" class="scroll-down">↓</a>
  </div>
</div>
<div
  id="map"
  style="width: 100%;
  height: 80vh;
  border-bottom: 1px solid black"
  data-markers="<%= @markers.to_json %>"
  data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"
></div>
<div class="container home-list">
  <div class="row">
    <div class="col-xs-6">
      <h2 class="text-center list-title">GeoBurger</h2>
      <ul style="list-style: none;">
        <li><i class="fas fa-map-marker-alt"></i> Encontre o hambúrguer mais perto de você</li>
        <li><i class="far fa-star"></i> Avalie suas hamburguerias preferidas</li>
        <li><i class="far fa-comment"></i> Deixe seu review  </li>
        <li><i class="fas fa-users"></i> Seja parte da comunidade louca por hambúrgueres</li>
      </ul>
    </div>
    <div class="col-xs-6">
      <%= image_tag "girl.jpg", class: "girl-image" %>
    </div>
  </div>
</div>

