<div class="burger-banner" style="background-image:  url(<%= asset_path 'burgers-banner.png' %>)">
  <div class="banner-content">
    <h1>GeoBurger</h1>
    <p>Encontre hambúrgeres saborosos perto de você</p>
    <a href="#" class="scroll-down">↓</a>
  </div>
</div>
